<%= form_for(@mbb_connections_staging) do |f| %>
  <% if @mbb_connections_staging.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mbb_connections_staging.errors.count, "error") %> prohibited this mbb_connections_staging from being saved:</h2>

      <ul>
      <% @mbb_connections_staging.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :provider_subscriber_id %><br />
    <%= f.text_field :provider_subscriber_id %>
  </div>
  <div class="field">
    <%= f.label :institution_subscriber_id %><br />
    <%= f.text_field :institution_subscriber_id %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :institution_abbreviation %><br />
    <%= f.text_field :institution_abbreviation %>
  </div>
  <div class="field">
    <%= f.label :institution_name %><br />
    <%= f.text_field :institution_name %>
  </div>
  <div class="field">
    <%= f.label :transaction_date %><br />
    <%= f.date_select :transaction_date %>
  </div>
  <div class="field">
    <%= f.label :channel_name %><br />
    <%= f.text_field :channel_name %>
  </div>
  <div class="field">
    <%= f.label :product_name %><br />
    <%= f.text_field :product_name %>
  </div>
  <div class="field">
    <%= f.label :institution_id %><br />
    <%= f.number_field :institution_id %>
  </div>
  <div class="field">
    <%= f.label :channel_id %><br />
    <%= f.number_field :channel_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
