<p id="notice"><%= notice %></p>

<p>
  <b>Provider subscriber:</b>
  <%= @mbb_connections_staging.provider_subscriber_id %>
</p>

<p>
  <b>Institution subscriber:</b>
  <%= @mbb_connections_staging.institution_subscriber_id %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @mbb_connections_staging.date_of_birth %>
</p>

<p>
  <b>Institution abbreviation:</b>
  <%= @mbb_connections_staging.institution_abbreviation %>
</p>

<p>
  <b>Institution name:</b>
  <%= @mbb_connections_staging.institution_name %>
</p>

<p>
  <b>Transaction date:</b>
  <%= @mbb_connections_staging.transaction_date %>
</p>

<p>
  <b>Channel name:</b>
  <%= @mbb_connections_staging.channel_name %>
</p>

<p>
  <b>Product name:</b>
  <%= @mbb_connections_staging.product_name %>
</p>

<p>
  <b>Institution:</b>
  <%= @mbb_connections_staging.institution_id %>
</p>

<p>
  <b>Channel:</b>
  <%= @mbb_connections_staging.channel_id %>
</p>

<p>
  <b>Product:</b>
  <%= @mbb_connections_staging.product_id %>
</p>


<%= link_to 'Edit', edit_mbb_connections_staging_path(@mbb_connections_staging) %> |
<%= link_to 'Back', mbb_connections_stagings_path %>
