<p id="notice"><%= notice %></p>

<p>
  <b>Abbreviation:</b>
  <%= @client.abbreviation %>
</p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Institution category:</b>
  <%= @client.institution_category.name %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
