<h1>Listing mbb_institution_abbreviations</h1>

<table>
  <tr>
    <th>Institution</th>
    <th>Abbreviation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mbb_institution_abbreviations.each do |mbb_institution_abbreviation| %>
  <tr>
    <td><%= mbb_institution_abbreviation.institution.name %></td>
    <td><%= mbb_institution_abbreviation.abbreviation %></td>
    <td><%= link_to 'Show', mbb_institution_abbreviation %></td>
    <td><%= link_to 'Edit', edit_mbb_institution_abbreviation_path(mbb_institution_abbreviation) %></td>
    <td><%= link_to 'Destroy', mbb_institution_abbreviation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mbb institution abbreviation', new_mbb_institution_abbreviation_path %>
