<%= form_for(@institution_abbreviation) do |f| %>
  <% if @institution_abbreviation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@institution_abbreviation.errors.count, "error") %> prohibited this institution_abbreviation from being saved:</h2>

      <ul>
      <% @institution_abbreviation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :institution_id %><br />
    <%= f.number_field :institution_id %>
  </div>
  <div class="field">
    <%= f.label :abbreviation %><br />
    <%= f.text_field :abbreviation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
