  <h2 id="month">  
    <%= link_to "<", :date_in_gui => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>  
    <%= h @date.strftime("%B %Y") %>  
    <%= link_to ">", :date_in_gui => (@date.end_of_month+1).strftime("%Y-%m-01") %>  
  </h2>


From: <%= @season_date_begin %>
<br />
To: <%= @season_date_end %>
<br />
<br />
Total connections season, reported: <%= @reported_product_units_in_season %>
<br />
Total connections season, invalid: <%= @invalid_product_units_in_season %>
<br />
Total connections season, valid: <%= @reported_product_units_in_season - @invalid_product_units_in_season %>
<br />
<br />
<br />


<table>
  <tr>
    <td>
    <% if @reported_product_units_in_month.values.sum > 0 %>
      <div id="div_bobadas" style="width: 560px; height: 300px;"></div>
    <% end %>
    </td>
  </tr>
</table>



<%= render :partial => "units_channel",
           :locals => { :reported_channel_units_in_month => @reported_channel_units_in_month } %>




<table>
<tr>

<td>
<table>
  <tr>
    <th>Product</th>
    <th>Units, reported</th>
  </tr>

<% @reported_product_units_in_month.each do |product,units| %>
  <tr>
    <td><%= product %></td>
    <td><%= units %></td>
  </tr>
<% end %>
  <tr>
    <th>Total</th>
    <th><%= @reported_product_units_in_month.values.sum %></th>
</table>
</td>

<td>
<table>
  <tr>
    <th>Product</th>
    <th>Units, invalid</th>
  </tr>

<% @invalid_product_units_in_month.each do |product,units| %>
  <tr>
    <td><%= product %></td>
    <td><%= units %></td>
  </tr>
<% end %>
  <tr>
    <th>Total</th>
    <th><%= @invalid_product_units_in_month.values.sum %></th>
</table>
</td>

</tr>
</table>


