  <h2 id="month">  
    <%= link_to "<", :date_in_gui => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>  
    <%= h @date.strftime("%B %Y") %>  
    <%= link_to ">", :date_in_gui => (@date.end_of_month+1).strftime("%Y-%m-01") %>  
  </h2>


From: <%= @season_date_begin %>
<br />
To: <%= @season_date_end %>
<br />
<br />
Total connections season, reported: <%= @product_units_in_season %>
<br />
Total connections season, invalid: <%= @total_invalid_products_season %>
<br />
Total connections season, valid: <%= @product_units_in_season - @total_invalid_products_season %>
<br />
<br />
<br />


<table>
<tr>
<td>
<% if @products_units.values.sum > 0 %>
  <div id="div_bobadas" style="width: 560px; height: 300px;"></div>
<% end %>
</td>
</tr>


<tr>

<td>
<table>
  <tr>
    <th>Product</th>
    <th>Units</th>
  </tr>

<% @products_units.each do |product,units| %>
  <tr>
    <td><%= product %></td>
    <td><%= units %></td>
  </tr>
<% end %>
  <tr>
    <th>Total</th>
    <th><%= @products_units.values.sum %></th>
</table>
</td>

<td>
<table>
  <tr>
    <th>Product</th>
    <th>Units</th>
  </tr>

<% @invalid_products_units.each do |product,units| %>
  <tr>
    <td><%= product %></td>
    <td><%= units %></td>
  </tr>
<% end %>
  <tr>
    <th>Total</th>
    <th><%= @invalid_products_units.values.sum %></th>
</table>
</td>

</tr>
<table>
